.slider-section {
	padding-bottom: 105px;
	position: relative;
	&__bg1 {
		width: 149px;
		height: 204px;
		background-color: $active-dot-color;
		padding: 102px 20px 20px;
		top: 79px;
		right: 74px;
	}
	&__bg2 {
		width: 137px;
		height: 237px;
		background: #FF8FE6;
		padding: 149px 27px 20px 20px;
		top: 360px;
		right: 0;
	}

	&__bg1, &__bg2 {
		cursor: pointer;
		position: absolute;
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		color: $base-black;
		z-index: 20;
	}
}
.slider {

		&__slides {
			margin-bottom: 17px;
			position: relative;
		}

		&__slide {
            display: block;
			position: absolute;
			top: 0;
			opacity: 0;
            &:first-child {
				position: relative;
				opacity: 1;
            };
			img {
				width: 100%;
			}
		}

		&__nav {
			justify-content: center;
			display: flex;
			gap: 10px;
		}

		&__dot {
			transition: all 0.3s ease;
			border-radius: 50%;
			cursor: pointer;
			width: 12px;
			height: 12px;
			background-color: $menu-color;
			&_active {
				background-color: $active-dot-color;
			}
		}
}

@media (max-width: 1439px) {
	.slider-section {	
		&__bg1, &__bg2 {
			display: none;
		}
	}
}

@media (max-width: 413px) {
	.slider-section {
		padding-bottom: 0;
	}
}
